<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Site.css")" type="text/css" rel="stylesheet"/>

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    
</head>
<body>
    <div id="header">
        @*<div class="title">@Html.ActionLink("SPORTS STORE", "List", "Products", new {area = ""})</div>*@
        <div class="title">SPORTS STORE</div>
    </div>

<div id="categories">
    @{ Html.RenderAction("Menu", "Navigation");}
</div>

<div id="content">
    @RenderBody()    
</div>


    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
